@import "../../../app.scss";

$bottom-margin : 50px;
$line-width: 5px;
$line-color: $selected_item;


.hvItem{
    display: flex;
    flex-direction: column;

    p{
        margin: 0;
        background-color: #00B9AE;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        //: 0 3px 6px $selected_item;
    }

    margin: auto;
    .hvItemParent{
      margin-bottom: $bottom-margin;
      position: relative;
      display: flex;
      justify-content: center;      
      &:after{
        position: absolute;
        content: '';
        width: $line-width;
        height: $bottom-margin / 2;
        bottom: 0;
        left: 50%;
        background-color: $line-color;
        transform: translateY(100%);
      }
    }
  .hvItemChildren{
    display: flex;
    justify-content: center;
    .hvItemChild{
      padding: 0 15px;
      position: relative;

      &:before, &:after{
        content: '';
        position: absolute;
        background-color: $line-color;
        left: 0;
      }

      &:before{
        left: 50%;
        top: 0;
        transform: translateY(-100%);
        width: $line-width;
        height: $bottom-margin / 2;

      }

      &:after{
        top: -$bottom-margin / 2;
        transform: translateY(-100%);
        height: $line-width;
        width: 100%;
      }

      &:first-child:after{
        left: 50%;
        width: 50%;
      }

      &:last-child:after{
        width: calc(50% + 1px);
      }        

    }
  }
}