@import "../../../app.scss";

.title{
    width:100%;
    text-align: left;
    font-size: 20px;
    color: $selected_item;
    border-bottom: $selected_item 2px solid; /* 참고 */

    font-weight: bold;
    padding: 15px;
}

.boxes{
    margin-top : 20px;

    .box{
        min-width: 300px;
        float: left;
        width : 45%;
        padding : 20px;
    }
}
p{
    margin-top : 20px;
    line-height:1.4em;
}

br{
    line-height:2.0em;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

.span{
    color : $selected_item;
}

.signdiv{
   margin-top: -30px;
   font-weight: bold;
   font-size : 19px;
   text-align: center;
   padding: 15px;
}

.boxImg{
    width: 75%;
    margin-top:50px;
    min-width: 250px;
    border : 0;
}

.sign{
    padding: 5px;
    width: 15%;
    height: 8%;
    margin-left: 10px;
    margin-top:10px;
}

.TimelineStyle{
    background-color: $background_color; 
    
    li{
        float: none;
        display: list-item;
        color : $footer_background;
    }
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 20px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    ol {
     margin: 0 0 0 2em; /* Add some left margin for inner lists */
    }
}


.roundedList{
    a{
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0 0 20px;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;   
    
        &:hover{
            background: #eee;
        }
        &:before{
            transform: rotate(360deg); 
            content: counter(li);
            counter-increment: li;
            position: absolute; 
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: $selected_item;
            color: #fff;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            transition: all .3s ease-out; 
        }
    }
}
