@import "../../app.scss";
@import "../../util.scss";

$breakpoint: 1300px;

.ipad{
    min-Width : 240px;
    height : 300px;
    float: right;
    width: 67%;

    @include media("<max"){
        width: 67%;
    }

    @include media("<huge") {
        width: 67%;
    }

    @include media("<large") {
        width: 50%;
    }

    @include media("<medium") {
        width: 100%;
    }
}

.Hotline{
    //padding: 50px;
    min-width: 260px;
    float : left;
    margin-left: 40px;
    border-right: solid #dfdfdf;

    @include media("<max"){
        border-right:none;
    }

    @include media("<huge") {
        border-right: solid #dfdfdf;
    }

    @include media("<large") {
        border-right: solid #dfdfdf;
    }

    @include media("<medium") {
        border-right:none;
    }
    /*
    h2{
        color : $selected-item;
    }
    */
    .content{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
    }
    .title{
        font-size: 17px;
        font-weight: bold;
        color: #0E6EB8;
    }

    ol{
        li{
            font-size : 15px;
            align-content: center;
            min-width: 160px;
            padding: 0px;
            list-style: circle;
            display: list-item;
        }
    }
    a{
        padding: 10px;
        width: 200px;
    }

    @media (max-width: #{$breakpoint}) {
        body{
            background: gray;
        }
    }
}



.top{
    color : $selected_item;
}


.imgSlide{

.slider-wrapper {
  overflow:hidden;
  width:100%;
  position:relative;
  height:300px;
}

.slides {
  transition: left 2s;
  position:absolute;
  top:0;
  height:100%;

    li {
        float:left;
        background:#ccc;
        list-style-type:none;
        height:300px;
    }
}


.pagers {
  text-align:center;
  top:-50px;
  z-index:1000;
  position:relative;

    li {
        width:20px;
        height:20px;
        border:1px solid #fff;
        display:inline-block;
        border-radius: 20px;
        margin-right:8px;
    }
}
}