@import "../../app.scss";

.Hotline{
    padding: 50px;
    min-width: 320px;
    float : right;
    h2{
        color : $selected-item;
    }
    .content{
        padding: 10px;
        font-size: 17px;
        font-weight: bold;
        //color: #32CD32;
    }
    .title{
        font-size: 17px;
        font-weight: bold;
        color: #0E6EB8;
    }

    ol{
        li{
            font-size : 15px;
            align-content: center;
            min-width: 160px;
            padding: 0px;
            list-style: circle;
            display: list-item;
        }
    }
    a{
        padding: 10px;
        width: 200px;
    }

}