@import "../../app";

.header{
    background: $background_color;
    padding-top: 10px;
    min-height: 50px;
    z-index: 0;

    box-shadow: rgba(0,0,0,.117647) 0 1px 3px;
    //border-bottom: $font_color 1px solid; /* 참고 */

    .context{
        color : $navfont_color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    nav{
        float : right;
        margin-top : 10px;
    }

    li{
        float:left;
        display: inline;
        padding: 10px 10px 20px 0px;
    }
}

.highlight{
    :hover{
        color: $selected_item;
        border-bottom: $selected_item 3px solid; /* 참고 */
    }
}


.branding{
    float:left;
    padding: 20px 0px 20px 80px;
}

.boxImg{
    width:140px;
    height: 60px;
}
