body{
    font-family: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}


footer{
    position: absolute;
    bottom: 0;
    padding:20px;
    width: 100%;
    display: flex;
    margin-top:20px;
    background-color:#363636;
    flex-wrap: wrap;
    font-size: 12px;
}

footer p{
    color:#d0d0d0;
    font-size: 12px;
    text-align: center;
}

footer img{
    width : 150px;
    height: 60px;
    filter: grayscale(100%);
}

.highlight{
    color : #169b9b;
}
.boxes{
     margin-top:20px;
}

.box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align:center;
    color: aqua;
}